/* hide scrollbar but allow scrolling */
html {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

html::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

body{
    background-color: aquamarine;
}

a{
    text-decoration: none;
}
.twomtBox{
    background-color: white;
    width: 45.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 8px;
    margin: 0 auto;
    
}

.settingsText{
    display: inline;
}

.loginOrRegister{
    background-color: white;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
    
}

.center{
    margin: 0 auto;
    display: block;
}

.twomtContent{
    word-wrap: break-word;
}
.postTwomtContainer{
    background-color: white;
    width: 45.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 8px;
    margin: 0 auto;
}
.twomtPosterAndDate{
    font-weight: bold;
}

.topBar{
    margin: 0 auto;
}

.logoImage{
    margin: 0 auto; 
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.postTwomtBoxReply{
    width: 100%;
}

.postTwomtBox{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 8px;
    width: 100%;
}

.replyBox{
    display: none;
}

.twomtResponses{
    display: none;
}

.line{
    width: 100%;
    border-bottom: 1px solid black;
    }

.profileBox{
    background-color: white;
    width: 45.5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 8px;
    margin: 0 auto;
}

.profileUsername{
    font-weight: bold;
    font-size: 24px;
}
.nextButton{
    margin: 0 auto; 
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}